.commentForm {
  width: 85%;
  padding-top: 6%;
  margin: auto;
}
.samplenew {
  width: 100%;
  display: flex;
  border: 2px solid black;
  margin-bottom: 1%;
}
.samplesecond {
  padding-top: 5%;
}
.inside {
  padding-right: 10%;
  width: 50%;
  border: 1px solid black;
  text-align: center;

}
hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}
.comment {
  width: 100%;
  border-radius: 4px;
  border-color: black;
}
.header1 {
  font-weight: bold;
  font-size: 25px;
  text-align: center;
  padding-bottom: 20px;
}
.row1 {
  display: flex;
  padding-top: 10px;
  padding-left: 10px;
}
fieldset {
  width: 100%;
  position: relative;
  z-index: 1;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  border-radius: 4px;
  border-color: black;
}
input[type=submit] {
    background-color: #4c70ba;
    color: white;
    padding: 10px 0 10px 0;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 10%;
}
input[type=submit]:hover {
    background-color: #5f7ec1;
}

textarea {
    width: 80%;
    height: 150px;
    padding: 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    resize: none;
    background: #f2f2f2;
}
#datesp {
  width: 15%;
}
#date {
  width: 100%;
  background: #f2f2f2;
}
#projectvalue {
  padding-left: 25px;
  width: 35%;
}
#project,#section {
  width: 100%;
  background: #f2f2f2;
}
#sectionsp {
  padding-left: 25px;
  width: 20%;
}
#timesp {
  padding-left: 25px;
  width: 20%;
}
#timehr,#timemin {
  width: 40%;
  background: #f2f2f2;
}
#statusdiv {
  padding-top: 30px;
  padding-left: 10px;
  width: 50%;
}
#statusbox {
  width: 100%;
}
#print {
  padding-left: 10px;
}
#but {
  text-align: center;
}
h3 {
  font-weight: bold;
  padding-left: 10px;
}
#lefts {
    width: 15%;
}
#centers {
    width: 15%;
}
#rights {
    width: 15%;
}
